* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bg {
  background: radial-gradient(140% 107.13% at 50% 0%, transparent 37.41%, #6633ee 109.27%, #fff 100%);
  border-radius: 50px 50px 0px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em;
}
.header__logo {
  display: flex;
}
.header__item {
  display: flex;
  gap: 20px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 0px 10px;
  background: radial-gradient(#6633ee -40%, #000000 73%);
}
.header__item-link {
  text-decoration: none;
  color: #ffffff;
  height: 5vh;
  align-items: center;
  display: flex;
}
.header__item-link:hover {
  color: #6633ee;
}
.header__item .link-nav {
  display: none;
}
.header__burger .link-home {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 0px 10px;
  background: radial-gradient(#6633ee -40%, #000000 73%);
}
.header__burger-toggler {
  display: none;
}
.header__burger .burger__item {
  display: none;
  padding: 30px 10px;
  background: linear-gradient(0deg, #b094f1 0%, #000000 100%);
}
.header__burger .burger__item-link {
  text-decoration: none;
  color: #ffffff;
  height: 3vh;
  align-items: center;
  display: flex;
  padding-inline: inherit;
}

.hr-gradient {
  margin: -2px 0;
  padding: 0;
  height: 6px;
  border: none;
  background: radial-gradient(#6633ee -40%, #000000 73%);
}

@media (max-width: 900px) {
  .header {
    justify-content: space-between;
  }
  .header__item-link {
    display: none;
  }
  .header__burger {
    margin-top: 0px;
  }
  .header__burger-toggler {
    display: block;
    font-size: 2em;
    padding-inline: 0.5em;
    padding-bottom: 3px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  .header__burger-toggler:hover {
    color: #6633ee;
  }
  .header .link-home {
    display: none;
  }
  .header .link-nav {
    display: block;
    display: flex;
    border-radius: 30px;
  }
  .header__burger:hover .burger__item {
    display: block;
    position: absolute;
    right: 2px;
  }
  .header .burger__item-link:hover {
    color: #6633ee;
  }
}
.footer {
  background: radial-gradient(140% 107.13% at 50% 0%, transparent 37.41%, #6633ee 109.27%, #fff 100%);
  height: 100px;
  border-radius: 0px 0px 50px 50px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.text {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.social-media {
  display: flex;
  gap: 30px;
}

a img:hover {
  transform: scale(1.5);
  transition: width 2.35s ease-in-out;
}

.container-grid {
  background: #ccc;
  margin: auto;
  padding: auto;
  width: 1600px;
  height: 80vh;
}

.section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
  background-color: black;
  height: 700px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background: #000000;
}