* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bg {
  background: radial-gradient(140% 107.13% at 50% 0%, transparent 37.41%, #6633ee 109.27%, #fff 100%);
  border-radius: 50px 50px 0px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em;
}
.header__logo {
  display: flex;
}
.header__item {
  display: flex;
  gap: 20px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 0px 10px;
  background: radial-gradient(#6633ee -40%, #000000 73%);
}
.header__item-link {
  text-decoration: none;
  color: #ffffff;
  height: 5vh;
  align-items: center;
  display: flex;
}
.header__item-link:hover {
  color: #6633ee;
}
.header__item .link-nav {
  display: none;
}
.header__burger .link-home {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 0px 10px;
  background: radial-gradient(#6633ee -40%, #000000 73%);
}
.header__burger-toggler {
  display: none;
}
.header__burger .burger__item {
  display: none;
  padding: 30px 10px;
  background: linear-gradient(0deg, #b094f1 0%, #000000 100%);
}
.header__burger .burger__item-link {
  text-decoration: none;
  color: #ffffff;
  height: 3vh;
  align-items: center;
  display: flex;
  padding-inline: inherit;
}

.hr-gradient {
  margin: -2px 0;
  padding: 0;
  height: 6px;
  border: none;
  background: radial-gradient(#6633ee -40%, #000000 73%);
}

@media (max-width: 900px) {
  .header {
    justify-content: space-between;
  }
  .header__item-link {
    display: none;
  }
  .header__burger {
    margin-top: 0px;
  }
  .header__burger-toggler {
    display: block;
    font-size: 2em;
    padding-inline: 0.5em;
    padding-bottom: 3px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  .header__burger-toggler:hover {
    color: #6633ee;
  }
  .header .link-home {
    display: none;
  }
  .header .link-nav {
    display: block;
    display: flex;
    border-radius: 30px;
  }
  .header__burger:hover .burger__item {
    display: block;
    position: absolute;
    right: 2px;
  }
  .header .burger__item-link:hover {
    color: #6633ee;
  }
}
.footer {
  background: radial-gradient(140% 107.13% at 50% 0%, transparent 37.41%, #6633ee 109.27%, #fff 100%);
  height: 100px;
  border-radius: 0px 0px 50px 50px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.text {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.social-media {
  display: flex;
  gap: 30px;
}

a img:hover {
  transform: scale(1.5);
  transition: width 2.35s ease-in-out;
}

.section-content {
  display: flex;
}
.section-content .section-content__item {
  position: relative;
  height: 800px;
  width: 100%;
}
.section-content .section-content__item-img {
  position: absolute;
}
.section-content .section-content__item .block-1 {
  width: 30%;
  height: 40%;
  right: 825px;
  bottom: 420px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px #6633ee;
  z-index: 2;
}
.section-content .section-content__item .block-1:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 10px #6633ee;
  z-index: 5;
}
.section-content .section-content__item .block-2 {
  width: 32%;
  height: 40%;
  right: 590px;
  bottom: 180px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px #6633ee;
  z-index: 1;
}
.section-content .section-content__item .block-2:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 10px #6633ee;
  z-index: 5;
}
.section-content .section-content__item .block-3 {
  width: 32%;
  height: 40%;
  right: 900px;
  bottom: 110px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px #6633ee;
}
.section-content .section-content__item .block-3:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 10px #6633ee;
  z-index: 5;
}
.section-content .section-content__card .items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.section-content .section-content__card .items .card {
  position: relative;
  width: 320px;
  height: 480px;
  background: #6633ee;
  border-radius: 80px;
  overflow: hidden;
}
.section-content .section-content__card .items .card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: black;
  transform: skewY(345deg);
  transition: 0.5s;
}
.section-content .section-content__card .items .card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}
.section-content .section-content__card .items .card::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  eft: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}
.section-content .section-content__card .items .card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.section-content .section-content__card .items .card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.section-content .section-content__card .items .card .contentBox h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-content .section-content__card .items .card .contentBox .price {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}
.section-content .section-content__card .items .card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.section-content .section-content__card .items .card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}
.section-content .mouse {
  height: 300px;
  idth: auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

body {
  background: #000000;
}